# Original Model

In [1]:
from xgboost import XGBClassifier
from xgboost import DMatrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import scale
from sklearn import datasets
import pandas as pd
%pylab inline
from pandas.tools.plotting import scatter_matrix
%load_ext sql
%sql postgresql://sharknado:sharknado@sharknado-dse.ceg3hdkdq8l0.us-east-1.rds.amazonaws.com/sharknado

Populating the interactive namespace from numpy and matplotlib

/usr/local/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/usr/local/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

u'Connected: sharknado@sharknado'

In [7]:
result = %sql select * from panels_stores_8_11

37755 rows affected.

In [8]:
df=result.DataFrame()

## Data Prep

In [9]:
panels = df.set_index("panid")
panels.head()

,week,minute,units,outlet,dollars,iri_key,colupc,ou,est_acv,marketname,...,race2,race3,microwave,device_type,zipcode,fipscode,market_based_upon_zipcode,iri_geography_number,ext_fact,cnt
panid,,,,,,,,,,,,,,,,,,,,,
1116608,1607,9587,2,DK,4.38,642166,0011600014690,DR,1.65625,PITTSFIELD,...,1,1,1,0,1201,25003,204,1,1,4
1408492,1632,8079,1,DK,1.12,642166,0011600015840,DR,1.65625,PITTSFIELD,...,1,1,1,0,1201,25003,204,1,1,4
1809632,1584,6998,2,DK,2.72,642166,0011600015840,DR,1.65625,PITTSFIELD,...,1,1,1,0,1201,25003,204,1,1,4
1809632,1604,6626,4,DK,5.32,642166,0011600015990,DR,1.65625,PITTSFIELD,...,1,1,1,0,1201,25003,204,1,1,4
1163584,1615,651,2,DK,3.00,642166,0011600016490,DR,1.65625,PITTSFIELD,...,1,1,1,0,1201,25003,204,1,1,4

The `outlet` and `ou` features are duplicates, lets remove one of them:

In [11]:
panels = panels.drop("ou", 1)

### Feature Engineering

* create `day` feature from `week` featuers, e.g: mon, tues, wed...
* create `part_of_day`  feature from `minute` column, e.g.: morning, afternoon, evening, night
* 1 hot encode categorical features

In [12]:
feature_cols = ["week", "minute", "units", "dollars", "est_acv", "open", "clsd", "outlet", "marketname"]
target_col = "colupc"


target = panels[target_col]
features = panels[feature_cols]

features.head()

,week,minute,units,dollars,est_acv,open,clsd,outlet,marketname
panid,,,,,,,,,
1116608,1607,9587,2,4.38,1.65625,731,9998,DK,PITTSFIELD
1408492,1632,8079,1,1.12,1.65625,731,9998,DK,PITTSFIELD
1809632,1584,6998,2,2.72,1.65625,731,9998,DK,PITTSFIELD
1809632,1604,6626,4,5.32,1.65625,731,9998,DK,PITTSFIELD
1163584,1615,651,2,3.00,1.65625,731,9998,DK,PITTSFIELD

In [13]:
#1 hot encode
data = pd.get_dummies(features)
data.head()

,week,minute,units,dollars,est_acv,open,clsd,outlet_DK,outlet_GK,marketname_EAU CLAIRE,marketname_PITTSFIELD
panid,,,,,,,,,,,
1116608,1607,9587,2,4.38,1.65625,731,9998,1,0,0,1
1408492,1632,8079,1,1.12,1.65625,731,9998,1,0,0,1
1809632,1584,6998,2,2.72,1.65625,731,9998,1,0,0,1
1809632,1604,6626,4,5.32,1.65625,731,9998,1,0,0,1
1163584,1615,651,2,3.00,1.65625,731,9998,1,0,0,1

## Training

* scale data 
* test split

In [14]:
scaled_data = scale(data)

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(scaled_data, target, test_size=0.25, random_state=4)
print (X_train.shape)

(28316, 11)

### Random Forest

In [17]:
tree = RandomForestClassifier()
tree.fit(X_train, Y_train)
tree.score(X_test, Y_test)

0.20256383091429178